/* Cover Image Section */

.hero {
  background: url("img/cover.png") no-repeat center center;
  background-size: cover;
  height: 75vh;
  overflow: hidden; }

h1 {
  margin-top: 14.2rem;
}

.message {
  margin-bottom: 4.3rem;
}


/* Cars Content Section */

.grey-band {
  background-color: #F1F2F4;
  background-size: cover;
  overflow: hidden; 
}

.white-band {
  background-color: #ffffff;
  background-size: cover;
  overflow: hidden; 
}

.banner{
  margin-top: 4em;
  margin-bottom: 4em;
}

h2 {
  margin-bottom: 3rem;
}

/* Top Bar Section */
.icon-search {
  width: 2.4rem;
  height: 2.4rem;
}

.icon-car {
  width: 3rem;
  height: auto;
  margin-left: 4rem;
}

.row.full-width {
  width: 100%;
  max-width: 100%; 
}

.title-bar {
  background: #3d4852;
  padding: 0.9rem; }

/* Footer Section */
footer {
  height: 15rem;
  background-color: #3d4852;
}

.footer-text {
  color: #6d7780;
  font-size: 1.4rem;
}

/* Responsive Design*/

@media only screen and (max-width: 40em) {
  h1 {
    font-size: 3.6rem;
    line-height: 4rem;
    margin-top: 8rem;
  }
  .menu > li > a {
    margin: 2rem 1rem;
  }
  .icon-car {
    display: none !important; 
  }
  .footer-text {
    font-size: 0.8rem;
  }
  .white-band img, .grey-band img {
    margin-bottom:1em;
  }

}

@media only screen and (max-width: 54em) {
  .menu-text {
    display: none !important; } }

@media only screen and (max-width: 64em) { 
  select {
    margin-top: 1rem;
    margin-bottom: 0rem;
  }
  footer {
    height: auto;
  }
  .image-overlay-content {
    display: none !important;
  }
  
}

@media only screen and (min-width: 64em) {
  .menu:last-child {
    border-left: 1px solid #4e4e4e; }

  .menu:first-child {
    border-left: none; }

  .menu li:not(:last-child) {
    border-right: 1px solid #4e4e4e; } }
.dropdown.menu .submenu {
  border: none; }

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow > a::after {
  border-color: #fff transparent transparent; }

.is-drilldown-submenu-parent > a::after {
  border-color: transparent transparent transparent #fff; }

.js-drilldown-back::before {
  border-color: transparent #fff transparent transparent; }

/* Image Hover Effect*/
.image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  border-radius: 0;
}

.image-overlay-content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; }

.overlay-fade-in h4 {
  color: #ffffff;
  opacity: 0;
  transition: all 0.2s linear; }
.overlay-fade-in img {
  transition: all 0.2s linear; }
.overlay-fade-in .image-overlay-content {
  opacity: 0;
  background-color: #3d4852;
  transition: all 0.4s ease-in-out; }
.overlay-fade-in h3 {
  color: #ffffff;
  margin-top: 36%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  }

.overlay-fade-in:hover .image-overlay-content {
  opacity: 0.8; }
.overlay-fade-in:hover h3, .overlay-fade-in h4, .overlay-fade-in .button {
  opacity: 1; }
.overlay-fade-in:hover h4 {
  transition-delay: 0.1s; }
.overlay-fade-in:hover .button {
  transition-delay: 0.2s; }

hr { width:86%; height:1px; background: #fff }

